<!--Name:PRADEEP RAVICHANDRAN
ID:1001553352
CSE 6331-Cloud Computing
Assignment 1
-->
<!doctype html>
<html>
	<body>
		<center>
		<header> <h1> Welcome to My Azure Cloud </h1> </header>
		<br> <br>
		<!--<h2> This portal records the details of students (Name, Address, State and ZIP)</h2> -->
            <h2>Pradeep Ravichandran</h2>
            <h2>1001553352</h2>
            <h2>{{size}}</h2>
            <h3> You can Upload CSV Files and Pictures here !! </h3>
            <form action="{{ url_for('csvtodb') }}" method="POST" enctype = "multipart/form-data">
            CSV File:  <input type="file" name="myfile"><br>
            <br>
            <input type="submit" name="Submit"><br>
            </form>
            <br>
            <form action="{{ url_for('csvtodb') }}" method="POST" enctype = "multipart/form-data">
            Picture:   <input type="file" name="images"><br>
		    <br>
            <input type="submit" name="Submit"><br>
            </form>
            <br>
            <img src="https://elearn.uta.edu/bbcswebdav/pid-7154598-dt-content-rid-131266510_2/courses/2185-ADV-TOPICS-IN-DATABASE-SYSTEMS-53665-004/me.jpg" alt="me">
            <h2><a href="/course">Search Course Details</a></h2>
	    	<h2><a href = "/list">Retrieve People Details</a></h2>
            <h2><a href = "/deletionpage">Delete User</a></h2>
            <h2><a href="/editingpage">Edit </a> </h2>
            <h2><a href="/namesearch">Search Name </a> </h2>
            <h2><a href="/gradesearch">Search using Grade </a> </h2>
            <h2><a href="/newpic">Add picture for Someone </a> </h2>

        </center>
	</body>
</html>