<!--Name:PRADEEP RAVICHANDRAN
ID:1001553352
CSE 6331-Cloud Computing
Assignment 1
-->
<!doctype html>
<html>

   <body>

   <center>
      <header> <h1> This page lists the People records </h1>
      </header>
      <br> <br>
      <table border = 1>
         <thead>
            <td>ID</td>
            <td>Days</td>
            <td>Start</td>
            <td>End</td>
            <td>Approval</td>
            <td>Max</td>
            <td>Current</td>
            <td>Seats</td>
            <td>Wait</td>
            <td>Instructor</td>
            <td>Course</td>
            <td>Section</td>
         </thead>

         {% for row in rows %}
         <tr>
            <td>{{row["id"]}}</td>
            <td>{{row["days"]}}</td>
            <td> {{row["start"]}}</td>
            <td>{{row["end"]}}</td>
            <td>{{row["approval"]}}</td>
            <td> {{row["max"]}}</td>
            <td>{{row["current"]}}</td>
            <td>{{row["seats"]}}</td>
            <td> {{row["wait"]}}</td>
            <td>{{row["instructor"]}}</td>
            <td>{{row["courseno"]}}</td>
            <td> {{row["section"]}}</td>
         </tr>
         {% endfor %}
      </table>

      <br>
      <h2> <a href = "/">Home</a> </h2>
   </body>
</html>