<!--Name:PRADEEP RAVICHANDRAN
ID:1001553352
CSE 6331-Cloud Computing
Assignment 1
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hi</title>
</head>
<body>
<center>
       <h2>Pradeep Ravichandran</h2>
         <h2>1001553352</h2>
   </center>
    Abhishek<img src="./Abhishek.jpg"><br>
    Tavo<img src="./Tavo.jpg"><br>
    Teddy<img src="./Teddy.jpg"><br>
    George<img src="./George.jpg"><br>
    Jees<img src="./Jees.jpg"><br>
    Susan<img src="./Susan.jpg "><br>
    Nora<img src="./Nora.jpg ">
</body>
</html>