<!--Name:PRADEEP RAVICHANDRAN
ID:1001553352
CSE 6331-Cloud Computing
Assignment 1
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
       <h2>Pradeep Ravichandran</h2>
         <h2>1001553352</h2>
   </center>
 <table border = 1>
         <thead>
            <td>Instructor</td>
            <td>Course</td>
            <td>Start</td>
            <td>End</td>

         </thead>

         {% for row in rows %}
         <tr><td>{{row["instructor"]}}</td>
            <td>{{row["courseno"]}}</td>
            <td> {{row["start"]}}</td>
            <td>{{row["end"]}}</td>

         </tr>
         {% endfor %}
      </table>


</body>
</html>