<!--Name:PRADEEP RAVICHANDRAN
ID:1001553352
CSE 6331-Cloud Computing
Assignment 1
-->
<html>
   <body>      
      <center>
      <header> <h1> Information Requst Portal </h1> </header>
      <br> <br>
      <form action = "{{ url_for('addrec') }}" method = "POST">
      <h3>Student Information</h3>
      Name<br>

      <input type = "text" name = "nm" /></br>
         
      Grade<br>
      <input type="number" name = "grade" > </input><br>
         
      Room<br>
      <input type = "number" name = "room" /><br>

      Telnum<br>
      <input type = "number" name = "telnum" /><br>


      <input type = "submit" value = "submit" /><br>
      
      </form>
      <br>
      <h2> <a href = "/">Home</a> </h2>
      
   </body>
</html>